In [103]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [104]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1417,tt0380389,30000000,27610873,Goal!: The Dream Begins,Kuno Becker|Alessandro Nivola|Anna Friel|Steph...,Danny Cannon,Every Dream Has A Beginning,"Like millions of kids around the world, Santia...",118,Drama,Touchstone Pictures|Milkshake Films|Hargitay &...,6/6/2005,6.5,2005
1092,tt0319061,70000000,122919055,Big Fish,Ewan McGregor|Albert Finney|Billy Crudup|Jessi...,Tim Burton,An adventure as big as life itself.,Throughout his life Edward Bloom has always be...,125,Adventure|Fantasy|Drama,The Zanuck Company|Columbia Pictures Corporati...,12/25/2003,7.4,2003
625,tt0942385,92000000,188072649,Tropic Thunder,Ben Stiller|Robert Downey Jr.|Jack Black|Jay B...,Ben Stiller,The movie they think they're making... isn't a...,"Vietnam veteran 'Four Leaf' Tayback's memoir, ...",107,Action|Comedy,DreamWorks SKG|Goldcrest Pictures|Red Hour Fil...,8/9/2008,6.4,2008
1150,tt0304711,35000000,11560806,The Order,Heath Ledger|Shannyn Sossamon|Benno FÃ¼rmann|M...,Brian Helgeland,Every soul has its price.,"For centuries, a secret Order of priests has e...",102,Drama|Fantasy|Horror|Mystery|Romance,Twentieth Century Fox Film Corporation|N1 Euro...,9/5/2003,4.8,2003
314,tt1045772,13000000,10652035,I Love You Phillip Morris,Jim Carrey|Ewan McGregor|Leslie Mann|Rodrigo S...,Glenn Ficarra|John Requa,The Conman who wouldn't go straight.,Bad Santa co-screenwriters Glenn Ficara and Jo...,98,Comedy|Drama|Romance,EuropaCorp,1/18/2009,6.3,2009

In [105]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [106]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [107]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [108]:
def get_title(line):
    '''
        Принимает на вход запись о фильме Series, возвращает его название
    '''
    title = line.original_title.values[0]
    imdb_id = line.imdb_id.values[0]
    return ' '.join([title, '(' + imdb_id + ')'])

In [109]:
# разбили все многозначные поля на списки
data.cast = data.cast.apply(lambda string: string.split('|'))
data.director = data.director.apply(lambda string: string.split('|'))
data.genres = data.genres.apply(lambda string: string.split('|'))
data.production_companies = data.production_companies.apply(lambda string: string.split('|'))

In [110]:
data['profit'] = data.revenue - data.budget 
data.release_date = pd.to_datetime(data.release_date)
data['release_month'] = data.release_date.dt.month
data['overwiew_n_words'] = data.overview.str.count(' ') + 1

In [111]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
 15  release_month         1889 non-null   int64
 16  overwiew_n_words      1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(8)
memory usage: 251.0+ KB

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [112]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа

# если ответили верно, можете добавить комментарий со значком "+"

In [113]:
# тут пишем ваш код для решения данного вопроса:
line = data[data.budget == data.budget.max()]
answers['1'] = get_title(line)
answers['1']

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [114]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [115]:
line = data[data.runtime == data.runtime.max()]

answers['2'] = get_title(line)
answers['2']

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [116]:
line = data[data.runtime == data.runtime.min()]
answers['3'] = get_title(line)
answers['3']

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [117]:
answers['4'] = data.describe()['runtime']['mean']
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [118]:
answers['5'] = data.describe()['runtime']['50%']
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [119]:
# лучше код получения столбца profit вынести в Предобработку что в начале
line = data[data.profit == data.profit.max()]
answers['6'] = get_title(line)
answers['6']

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [120]:
line = data[data.profit == data.profit.min()]
answers['7'] = get_title(line)
answers['7']

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [121]:
answers['8'] = len(data[data.profit > 0])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [122]:
line = data[data.release_year == 2008] # часть таблицы, а не запись
line = line[line.revenue == line.revenue.max()] # а теперь запись
answers['9'] = get_title(line)
answers['9']

'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [123]:
line = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
line = data[data.profit == data.profit.min()]
answers['10'] = get_title(line)
answers['10']

'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [124]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [125]:
genres_list = Counter()
for i in range(len(data.imdb_id)):
    for genre in data.iloc[i]['genres']:
        genres_list[genre] += 1

In [126]:
[genre for genre, count in genres_list.items() if count == max(genres_list.values())]

['Drama']

ВАРИАНТ 2

In [127]:
exploded_data = data.explode('genres')
exploded_data.genres.value_counts(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [128]:
answers['11'] = 'Drama'
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [129]:
genres_list = Counter()
for i in range(len(data.imdb_id)):
    if data.iloc[i]['profit'] > 0:
        for genre in data.iloc[i]['genres']:
            genres_list[genre] += 1
[genre for genre, count in genres_list.items() if count == max(genres_list.values())]

['Drama']

ВАРИАНТ 2

In [130]:
exploded_data = data.explode('genres')
exploded_data[exploded_data.profit > 0].genres.value_counts(ascending=False)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [131]:
answers['12'] = 'Drama'
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [132]:
directors_list = Counter()
for i in range(len(data.imdb_id)):
    for director in data.iloc[i]['director']:
        directors_list[director] += data.iloc[i]['revenue']
[director for director, revenue in directors_list.items() if revenue == max(directors_list.values())]

['Peter Jackson']

ВАРИАНТ 2

In [133]:
exploded_data = data.explode('director')
exploded_data.groupby('director').revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [134]:
answers['13'] = 'Peter Jackson'
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [135]:
directors_list = Counter()
for i in range(len(data.imdb_id)):
    if 'Action' in data.iloc[i]['genres']:
            for director in data.iloc[i]['director']:
                directors_list[director] += 1
directors_list
[name for name, count in directors_list.items() if count == max(directors_list.values())][0]

'Robert Rodriguez'

ВАРИАНТ 2

In [136]:
exploded_data = data.explode('director')
exploded_data = exploded_data.explode('genres')
exploded_data[exploded_data.genres == 'Action'].director.value_counts(ascending=False)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Tom McGrath           1
Xavier Gens           1
Paul Abascal          1
Joel Coen             1
Lexi Alexander        1
Name: director, Length: 364, dtype: int64

In [137]:
answers['14'] = 'Robert Rodriguez'
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [138]:
data_hr = data[data.release_year == 2012] # hr == hight revenue
data_hr = data_hr[data_hr.revenue > data_hr.revenue.mean()]
actors_list = Counter()
for i in range(len(data_hr.imdb_id)):
    for actor in data_hr.iloc[i]['cast']:
        actors_list[actor] += 1
[name for name, count in actors_list.items() if count == max(actors_list.values())]

['Chris Hemsworth',
 'Anne Hathaway',
 'Ralph Fiennes',
 'Charlize Theron',
 'Denis Leary',
 'Emma Thompson',
 'Kristen Stewart',
 'Seann William Scott',
 'Rosamund Pike',
 'Josh Hutcherson',
 'Liam Neeson',
 'Hugh Jackman',
 'Taylor Kitsch',
 'Sacha Baron Cohen']

ВАРИАНТ 2

In [139]:
exploded_data = data[data.release_year == 2012] #получили все записи за 2012 год
exploded_data = exploded_data[exploded_data.revenue > exploded_data.revenue.mean()] #в которых кассовые сборы 
# больше средних кассовых сборов за 2012 год
exploded_data = exploded_data.explode('cast').cast.value_counts()
exploded_data[exploded_data.values == max(exploded_data.values)]

Seann William Scott    2
Denis Leary            2
Josh Hutcherson        2
Liam Neeson            2
Anne Hathaway          2
Charlize Theron        2
Chris Hemsworth        2
Taylor Kitsch          2
Rosamund Pike          2
Ralph Fiennes          2
Emma Thompson          2
Kristen Stewart        2
Hugh Jackman           2
Sacha Baron Cohen      2
Name: cast, dtype: int64

In [140]:
answers['15'] = 'Chris Hemsworth'
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [141]:
data_hb = data[data.budget > data.budget.mean()] # hb == hight budget
actors_list = Counter()
for i in range(len(data_hb.imdb_id)):
    for actor in data_hb.iloc[i]['cast']:
        actors_list[actor] += 1
[name for name, count in actors_list.items() if count == max(actors_list.values())]

['Matt Damon']

ВАРИАНТ 2

In [142]:
exploded_data = data[data.budget > data.budget.mean()].explode('cast')
exploded_data.cast.value_counts(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Lari White            1
Bai Ling              1
Michael Stuhlbarg     1
Rachael Harris        1
Ed Speleers           1
Name: cast, Length: 1505, dtype: int64

In [143]:
answers['16'] = 'Matt Damon'
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [144]:
genres_list = Counter()
for i in range(len(data.imdb_id)):
    if 'Nicolas Cage' in data.iloc[i]['cast']:
        for genre in data.iloc[i]['genres']:
            genres_list[genre] += 1
[genre for genre, count in genres_list.items() if count == max(genres_list.values())]

['Action']

ВАРИАНТ 2

In [145]:
exploded_data = data.explode('cast')
exploded_data = exploded_data[exploded_data.cast == 'Nicolas Cage'].explode('genres')
exploded_data.genres.value_counts(ascending=False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

In [146]:
answers['17'] = 'Action'
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [147]:
exploded_data = data.explode('production_companies')
answer = exploded_data[exploded_data.production_companies == 'Paramount Pictures'].sort_values('profit').head(1)

In [148]:
answers['18'] = answer.original_title.values[0]
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [149]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [150]:
answers['19'] = '2015'
answers['19']

'2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [151]:
exploded_data = data.explode('production_companies')
exploded_data[exploded_data.production_companies.str.contains('Warner Bros')].groupby('release_year').profit.sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

In [152]:
answers['20'] = '2014'
answers['20']

'2014'

Возвращаем data в "раздробленную" конфигурацию

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [153]:
data.groupby('release_month').imdb_id.count().sort_values(ascending=False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

In [154]:
answers['21'] = 'Сентябрь'
answers['21']

'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [155]:
data[data.release_month.isin([6, 7, 8])].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 1888
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               450 non-null    object
 1   budget                450 non-null    int64
 2   revenue               450 non-null    int64
 3   original_title        450 non-null    object
 4   cast                  450 non-null    object
 5   director              450 non-null    object
 6   tagline               450 non-null    object
 7   overview              450 non-null    object
 8   runtime               450 non-null    int64
 9   genres                450 non-null    object
 10  production_companies  450 non-null    object
 11  release_date          450 non-null    datetime64[ns]
 12  vote_average          450 non-null    float64
 13  release_year          450 non-null    int64
 14  profit                450 non-null    int64
 15  release_month         450 non-null    int64
 16  overwiew_n_words      450 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(8)
memory usage: 63.3+ KB

In [156]:
answers['22'] = '450'
answers['22']

'450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [157]:
exploded_data = data.explode('director')
exploded_data[exploded_data.release_month.isin([12, 1, 2])].groupby('director').imdb_id.count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: imdb_id, Length: 358, dtype: int64

In [158]:
answers['23'] = 'Peter Jackson'
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [159]:
title_max_len = data.original_title.str.len().max() # кол-во симолов в самом длинном названии
exploded_data = data.explode('production_companies')
answer = exploded_data[exploded_data.original_title.str.len() == title_max_len]

In [160]:
answers['24'] = list(answer.production_companies.values)
answers['24']

['Twentieth Century Fox Film Corporation', 'Four By Two Productions']

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [161]:
exploded_data = data.explode('production_companies')
exploded_data.groupby('production_companies').overwiew_n_words.mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overwiew_n_words, Length: 1771, dtype: float64

In [162]:
answers['25'] = 'Midnight Picture Show'
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [163]:
answer = data.sort_values('vote_average', ascending=False).head(int(0.01*len(data)))

In [164]:
answers['26'] = answer.original_title.values
answers['26']

array(['The Dark Knight', 'Interstellar', 'The Imitation Game',
       'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl',
       '12 Years a Slave', 'Guardians of the Galaxy',
       'The Lord of the Rings: The Return of the King', 'Memento',
       'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her',
       'Spotlight', 'Big Hero 6', 'The Fault in Our Stars'], dtype=object)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [165]:
pairs = Counter()

for i in range(len(data)):
    movie_cast_list = data.iloc[i]['cast'] #считываем список актеров, играющих в фильме 
    n = len(movie_cast_list)
    if n >= 2:  # если их больше одного, то создаем массив пар участников съемок
        for j in range(0, n - 2):
            for k in range(j + 1, n - 1):
                pair = sorted([movie_cast_list[j], movie_cast_list[k]])
                pairs[' and '.join(pair)] += 1

In [166]:
answers['27'] = pairs.most_common(5)
answers['27']

[('Daniel Radcliffe and Rupert Grint', 8),
 ('Daniel Radcliffe and Emma Watson', 8),
 ('Emma Watson and Rupert Grint', 8),
 ('Paul Walker and Vin Diesel', 5),
 ('Kristen Stewart and Robert Pattinson', 5)]

ВАРИАНТ 2

# Submission

In [167]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': ['Twentieth Century Fox Film Corporation', 'Four By Two Productions'],
 '25': 'Midnight Picture Show',
 '26': array(['The Dark Knight', 'Interstellar', 'The Imitation Game',
        'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl',
        '12 Years a Slave', 'Guardians of the Galaxy',
        'The Lord of the Rings: The Return of the King', 'Memento',
        'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her',
        'Spotlight', 'Big Hero 6', 'The Fault in Our Stars'], dtype=object),
 '27': [('Daniel Radcliffe and Rupert Grint', 8),
  ('Daniel Radcliffe and Emma Watson', 8),
  ('Emma Watson and Rupert Grint', 8),
  ('Paul Walker and Vin Diesel', 5),
  ('Kristen Stewart and Robert Pattinson', 5)]}

In [168]:
# и убедиться что ни чего не пропустил)
len(answers)

27